<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= text %>
    </title>
    <style>
        @font-face {
            font-family: MinecraftRegular;
            src: url("/minecraft-font/MinecraftRegular-Bmg3.otf");
        }

        @font-face {
            font-family: MinecraftItalic;
            src: url("/minecraft-font/MinecraftItalic-R8Mo.otf");
        }

        html,
        body,
        #wrapper {
            font-family: MinecraftRegular;
            background-color: rgb(38, 38, 38);
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 style="color: <%= color %>">
        <%= text %>
    </h1>
</body>

</html>